*{
  margin: 0 auto;
}

.App {
  text-align: center;
}

.formCreate {
  width: 500px;
  background-color: #e9e9e9;
  padding: 30px 50px;
  border-radius: 10px;

}

.displayProd {
  width: 500px;
  background-color: #f4f4f4;
  padding: 30px 50px;
  border-radius: 8px;

}

.flexbox {
  display: flex;
  align-items: center;
}
.btndel {
  margin-left: 10px;
}
